#container{
    height:800px;
    width:960px;

}
body{
    font-family: "Lucida Console", "Courier New", monospace;
    font: bold;
    display: flex;
    justify-content: center;
}

.display{
    border: 5px solid black;
    min-height: 100px;
    font-size: 70px;
    width:960px;
    text-align: right;
    margin-bottom: 50px;
}
.numberpad{
width:960px;
height:600px;
display: flex;
justify-content: center;
align-items: center;
}

button{
    background-color: orange;
    align-self: center;
    font-size: large;
    height: 100px;
    min-width: 100px;
}

.op{
    background-color: cornflowerblue;

}

.zero{
    width:200px;
    height:100px;
}

.ops1, .ops2{
    display: flex;
    flex-direction:column;
}
