#container{
    height:800px;
    width:960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body{
    font-family: "Lucida Console", "Courier New", monospace; ;
    display: flex;
    justify-content: center;
}

.display{
    min-height: 100px;
    font-size: larger;
    width:960px;
    text-align: right;

}
.numberpad{
width:960px;
height:600px;
}

button{
    background-color: orange;
    align-self: center;
    font-size: large;
    height: 50px;
    min-width: 50px;
}